<app-header-nav></app-header-nav>
<div class="parent">

<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
        <ul>
            <li class="active">
                <span class="number" routerLink="/get-quote-page" routerLinkActive="active">1</span> Basic Information
            </li>
            <li>
                <span class="number">2</span> Cover Plan Details
            </li>
            <li>
                <span class="number">3</span> Review
            </li>
            <li>
                <span class="number">4</span> Payment
            </li>
        </ul>
    </div>






<div class="grid">
    <div class="col-12 sm:col-6 md:col-6">
        <label for="model" class="small-label">Customer Title*</label><br>
        <div class="p-inputgroup"> 
        <input pInputText  id="model-desc"  class="w-full" styleClass="w-full" [(ngModel)]="customerName" placeholder="Enter Your Customer Name" maxlength="60" />
            
        </div>
        <div class="error-text text-danger" *ngIf="customerNameError">
            <span class="spancommon span_font_size">Please Enter Customer Name</span>
        </div>
    </div>
    <div class="col-12 sm:col-6 md:col-6">
        <label for="model" class="small-label">Mobile No *</label><br>
        <div class="grid mt-2">
            <div class="col-3 sm:col-3 md:col-3 lg:col-3 p-0 mr-2">
                <input pInputText id="model-desc"  class="w-full" disabled id="MotorCategory" [(ngModel)]="mobileCode" maxlength="10" [(ngModel)]="mobileCode" />
            </div>
            <div class="col-8 sm:col-8 md:col-8 lg:col-8 p-0">
                <input pInputText id="model-desc"  class="w-full" id="MotorCategory" [(ngModel)]="mobileNo" placeholder="Enter Your Mobile No" maxlength="10" />
            </div>
        </div>
        <div class="error-text text-danger" *ngIf="mobileCodeError">
            <span class="spancommon span_font_size">Please Enter mobileNo</span>
        </div>
    </div>
    <div class="col-12 sm:col-4 md:col-4">
        <label for="model" class="small-label">Gender*</label><br>
        <div class="mt-2">
            <p-dropdown inputId="gender"  [filter]="true" filterBy="CodeDesc" class="w-full" id="gender" styleClass="w-full" [(ngModel)]="gender" [options]="genderList" optionLabel="CodeDesc" optionValue="Code" placeholder="Select">
            </p-dropdown>
        </div>
        <div class="error-text text-danger" *ngIf="genderError">
            <span class="spancommon span_font_size">Please Select Gender</span>
        </div>
    </div>
    <div class="col-12 sm:col-4 md:col-4">
        <label for="model" class="small-label">Date Of Birth *</label><br>
        <div class="mt-2">
            <p-calendar [showIcon]="true"   [(ngModel)]="insuredDob" dateFormat="dd/mm/yy" id="RegDate" [maxDate]="dobDate"
            class="w-full" styleClass="w-full"  />
        </div>
        <div class="error-text text-danger" *ngIf="insuredDobError">
            <span class="spancommon span_font_size">Please Select DOB</span>
        </div>
    </div>
    <div class="col-12 sm:col-4 md:col-4">
        <label for="model" class="small-label">Year Of 1st Issuance *</label><br>
        <input pInputText id="model-desc"  class="w-full mt-2" [(ngModel)]="licenseExperience" styleClass="w-full" placeholder="Enter Year" maxlength="4" />
        <div class="error-text text-danger" *ngIf="licenseExperienceError">
            <span class="spancommon span_font_size">Please Enter Valid Year</span>
        </div>
    </div>
    <div class="col-12 sm:col-6 md:col-6">
        <label for="model" class="small-label">Cover Type *</label><br>
        <p-dropdown inputId="InsuranceType"  [filter]="true" filterBy="CodeDesc" class="w-full mt-2" id="InsuranceType" (onChange)="onInsuranceClassChange('change',null);" [(ngModel)]="insuranceType" styleClass="w-full mt-2" [options]="typeList" optionLabel="CodeDesc" optionValue="Code" placeholder="Select Cover Type">
        </p-dropdown>
        <div class="error-text text-danger" *ngIf="insuranceTypeError">
            <span class="spancommon span_font_size">Please Select Cover Type</span>
        </div>
    </div>
    <div class="col-12 sm:col-6 md:col-6">
        <label for="model" class="small-label">Register Number *</label><br>
        <input pInputText id="registerNumber"  class="w-full mt-2" [(ngModel)]="registerNumber" styleClass="w-full" placeholder="Enter Register Number" maxlength="15" />
        <div class="error-text text-danger" *ngIf="registerNumberError">
            <span class="spancommon span_font_size">Please Enter Register Number</span>
        </div>
    </div>
    <!-- <div class="col-12 sm:col-6 md:col-6">
        <label for="model" class="small-label">Motor Usage *</label><br>
        <p-dropdown inputId="motorUsage"  [filter]="true" filterBy="CodeDesc" class="w-full mt-2" id="InsuranceType"  [(ngModel)]="motorUsageValue" styleClass="w-full mt-2" [options]="motorUsageList" optionLabel="CodeDesc" optionValue="Code" placeholder="Select Motor Usage">
        </p-dropdown>
    </div> -->
    <div class="col-12 sm:col-6 md:col-6">
        <label for="model" class="small-label">Vehicle Class *</label><br>
        <p-dropdown inputId="vehicleClass"  [filter]="true" filterBy="CodeDesc" class="w-full mt-2" id="VehicleClass" [(ngModel)]="vehicleClass" styleClass="w-full mt-2" [options]="vehicleClassList" optionLabel="CodeDesc" optionValue="Code" placeholder="Select Vehicle Class">
        </p-dropdown>
        <div class="error-text text-danger" *ngIf="vehicleClassError">
            <span class="spancommon span_font_size">Please Select Vehicle Class</span>
        </div>
    </div>
    <div class="col-12 sm:col-6 md:col-6">
        <label for="model" class="small-label">Make *</label><br>
        <p-dropdown inputId="vehicleClass"  [filter]="true" filterBy="CodeDesc" class="w-full mt-2" id="VehicleClass" [(ngModel)]="makeValue" styleClass="w-full mt-2" (onChange)="onMakeAltChange('change',null)" [options]="makeList" optionLabel="CodeDesc" optionValue="Code" placeholder="Select Make">
        </p-dropdown>
        <div class="error-text text-danger" *ngIf="makeValueError">
            <span class="spancommon span_font_size">Please Select Make</span>
        </div>
    </div>
    <div class="col-12 sm:col-6 md:col-6">
        <label for="model" class="small-label">Model *</label><br>
        <div class="grid mt-2 ml-1">
            <div class="col-10 sm:col-10 md:col-10 lg:col-10 p-0">
                <input pInputText  id="model-desc" class="w-full" styleClass="w-full" [(ngModel)]="modelDesc" disabled placeholder="Search Model" maxlength="50"  />
            </div>
            <div class="col-2 sm:col-2 md:col-2 lg:col-2 p-0">
                <p-button label=""  (click)="onViewModelList('direct',null,null)" icon="pi pi-search"></p-button>
            </div>
        </div>
        <div class="error-text text-danger" *ngIf="modelDescError">
            <span class="spancommon span_font_size">Please Select Model</span>
        </div>
    </div>
    <div class="col-12 sm:col-6 md:col-6">
        <label for="model" class="small-label">Manufacture Year *</label><br>
        <p-dropdown inputId="vehicleClass"  class="w-full mt-2" id="VehicleClass" [filter]="true" filterBy="CodeDesc" [(ngModel)]="manufactureYear" styleClass="w-full mt-2" [options]="yearList" optionLabel="CodeDesc" optionValue="Code" placeholder="Select Year">
        </p-dropdown>
        <div class="error-text text-danger" *ngIf="manufactureYearError">
            <span class="spancommon span_font_size">Please Select Manufacture Year</span>
        </div>
    </div>
    <div class="col-12 sm:col-6 md:col-6">
        <label for="model" class="small-label">Claim Experience *</label><br>
        <p-dropdown inputId="claimExperience"  class="w-full mt-2" id="claimExperience" [(ngModel)]="claimExperience" [filter]="true" filterBy="CodeDesc" styleClass="w-full mt-2" [options]="claimExperienceList" optionLabel="CodeDesc" optionValue="Code" placeholder="Select Claim Experience">
        </p-dropdown>
        <div class="error-text text-danger" *ngIf="claimExperienceError">
            <span class="spancommon span_font_size">Please Select Claim Experience</span>
        </div>
        <!-- <input pInputText id="model-desc" class="w-full mt-2" [(ngModel)]="claimExperience" styleClass="w-full" placeholder="Enter Experience" maxlength="3" /> -->
    </div>
</div>

