<div class="card">
    
        <div class="flex flex-column align-items-center justify-content-center mt-5">                
            <div class="loginCard1">
                <div class="w-full surface-card py-8 px-5 sm:px-8 loginCardBorder">
                    <div class="text-center mb-2">
                    <!-- <img src="assets/demo/images/login/userIcon.png" alt="Image" height="50" class="mb-3"> -->
                    <i class="pi pi-verified w-full" style="color: #042181 ;font-size: 3.5rem" ></i>  <br>
                    <div class="text-900 text-3xl font-medium w-full">OTP Verification</div>
                    <!-- <span class="text-600 font-medium" *ngIf="!errorSection">Sign in to continue</span>
                    <span class="text-600 font-medium" *ngIf="errorSection">Session Error!</span> -->
                </div>
                <!-- <p-messages [(value)]="messages" [enableService]="false"></p-messages> -->
                 <div><h5>Generated OTP ~ &nbsp;&nbsp; {{otpGenerated}}</h5></div>
                <div >
                    <label for="otp">Enter OTP</label>
                    <input pInputText id="otp" maxlength="6" class="w-full" [(ngModel)]="otpValue" name="otpValue" required/>
                    <div class="justify-content-center ">
                       <!-- <label class="p-2"> Not Received OTP?</label> -->
                        <button pButton pRipple class="p-button-outlined mt-1" (click)="onLogin()" [disabled]="OtpBtnEnable">
                            Resend OTP <span *ngIf="OtpBtnEnable">in ( {{ OtpBtnTime }} seconds)</span>
                        </button>
                    </div>
                    <div class="flex flex-warp justify-content-center mt-5">
                        <button pButton pRipple label="Cancel" type="button" class="p-button-outlined"
                        (click)="cancelOtp(value_cancel)"><span></span></button>&nbsp;
                        <button pButton pRipple label="Submit" type="button" class="custom-btn btn-3"
                        [disabled]="otpValue == ''" (click)="onOtpValidate()"><span></span></button>
                    </div>
                    <!-- <p-inputOtp  [integerOnly]="true" length="6"  /> -->
                    <!-- <label for="email1" class="block text-900 text-xl font-medium mb-2">Username</label>
                    <input id="email1" type="text" [(ngModel)]="username" placeholder="Username" pInputText class="w-full mb-5 padding1Rem">

                    <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                    <p-password id="password1" [(ngModel)]="password" [feedback]="false" [toggleMask]="true" placeholder="Password" styleClass="mb-5 w-full" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer primaryTextColor" (click)="Forget('foget','ForgotPassword');changepass('ForgotPassword')">Forgot password?</a>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer primaryTextColor" (click)="Forget('change','ChangePassword');changepass('ChangePassword')">Change password?</a>
                    </div>
                  
                    <button pButton pRipple label="Sign In" class="w-full p-3 text-xl" (click)="submit('N')"></button>
                    
                    <button pButton pRipple label="B2c" class="w-full p-3 text-xl mt-2" (click)="B2c()"></button> -->
                </div>
            </div>
        </div>
    </div>
</div>


