<div class="grid mt-2 ml-2 mr-2">
    <div class="card col-12 md:col-xl-12 lg:col-xl-12 xl:col-xl-12 gap-2">
        <div class="grid">
            <div class="col-12 sm:col-6">
              <h3 class="mr-3">Customer Details</h3>
              <!-- <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb> -->
            </div>
            <div class="col-12 sm:col-6">
                <div class="flex justify-content-start xl:justify-content-end align-items-center flex-wrap">
                    <div class="flex align-items-center mr-4 flex-wrap">
                        <h5 class="mr-3 mb-2" >{{ 'HOME.AccountType' | translate }} :</h5>
                        <p-selectButton [options]="policyHolderList" (click)="setPolicyType()" [(ngModel)]="productItem.IdType" [optionLabel]="getDisplayName()" optionValue="Code"></p-selectButton>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid"> 
            <ng-container *ngIf="insuranceId!='100027' && insuranceId!='100040' && this.insuranceId!='100042'">
                <div class="col-12 lg:col-1 md:col-1 xl:col-1">
                    <label for="username">{{ 'HOME.CustomerTitle' | translate }}*</label>
                    <!-- <label for="username">Title *</label> -->
                    <p-dropdown inputId="Title2"  class="w-full" 
                        styleClass="w-full"  (change)="onTitleChange('change')" [options]="titleList" 
                        [(ngModel)]="productItem.Title" [optionLabel]="getDisplayName()" 
                        optionValue="Code"  placeholder="Select Customer Title">
                    </p-dropdown>
                    <div class="input-form-error" *ngIf="titleError">
                        <div class="error-text  text-danger">
                            <span class="spancommon span_font_size">Please Select Title</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 lg:col-3 md:col-3 xl:col-3" >
                    <label for="username">{{ 'HOME.CustomerName' | translate }} *</label>
                    <!-- <label for="username">Customer Name *</label> -->
                    <input pInputText id="CustomerName" class="w-full"  maxlength="150" [(ngModel)]="productItem.ClientName" 
                            (change)="onsavedatas('Customer',null)" placeholder="Enter Customer Name"/>
                        <div class="input-form-error" *ngIf="customerNameError">
                            <div class="error-text  text-danger">
                                <span class="spancommon span_font_size">Please Enter Valid Name</span>
                            </div>
                        </div>
                </div>
            </ng-container>
            <div class="col-12 lg:col-2 md:col-2 xl:col-2">
                <label for="username">{{ 'HOME.CountryCode' | translate }}*</label>
                <!-- <label for="username">Country Code *</label> -->
                <p-dropdown inputId="CountryCode" class="w-full" styleClass="w-full"   [options]="mobileCodeList"   [(ngModel)]="productItem.MobileCode" 
                    [optionLabel]="getDisplayName()"  optionValue="Code" placeholder="Select Code">
                </p-dropdown>
                <div class="input-form-error" *ngIf="countryCodeError">
                    <div class="error-text  text-danger">
                        <span class="spancommon span_font_size">Please Select Valid Code</span>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-3 md:col-3 xl:col-3">
                <label for="username">{{ 'HOME.MobileNumber' | translate }}*</label>
                <!-- <label for="username">Mobile No</label> -->
                <input pInputText id="mobileNo" class="w-full"  maxlength="10" [(ngModel)]="productItem.MobileNo"
                    placeholder="Enter Phone Number" (change)="onsavedatas('Mobile',null)">
                    <div class="input-form-error" *ngIf="mobileNoError">
                        <div class="error-text  text-danger">
                            <span class="spancommon span_font_size">Please Select Valid Code</span>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="card col-12 md:col-12 lg:col-12 xl:col-12">
        <div class="grid">
            <div class="lg:col-12 md:col-12 col-12">
                <h3 class="m-0">Period Of Insurance</h3>
            </div>
            
            <div class="col-12 lg:col-2 md:col-2">
                <label for="username">Start Date</label>
                <p-calendar class="w-full" styleClass="w-full" [minDate]="minDate" 
                    [(ngModel)]="policyStartDate" (onSelect)="onStartDateChange('change')"
                    dateFormat="dd/mm/yy" placeholder="Select Start Date">
                </p-calendar>
                <div class="input-form-error bottomSpacing" *ngIf="policyStartError || policyPassDate"
                    >
                    <div class="error-text text-danger" *ngIf="policyStartError">
                        <span class="spancommon span_font_size"> Please Enter Policy Start Date</span>
                    </div>
                    <div class="error-text text-danger" *ngIf="policyPassDate">
                        <span class="spancommon span_font_size">Please Select Future Date</span>
                    </div>
                </div>
            </div>
            <div class="lg:col-2 md:col-2 col-12">
                <label for="username">End Date</label>
                <p-calendar class="w-full" styleClass="w-full" [(ngModel)]="policyEndDate"
                    (onSelect)="onStartDateChange('change')" dateFormat="dd/mm/yy"
                    placeholder="Select End Date">
                </p-calendar>
                <div class="input-form-error" *ngIf="policyEndError">
                    <div class="error-text  text-danger">
                        <span class="spancommon span_font_size">Please Enter Policy End Date</span>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-3 md:col-3">
                <label for="username">Currency*</label>
                <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="currencyList"
                    [(ngModel)]="currencyCode" (onChange)="onCurrencyChange('change')" 
                    optionLabel="CodeDesc" optionValue="Code" placeholder="Select Currency">
                </p-dropdown>
                <div class="input-form-error" *ngIf="currencyCodeError">
                    <div class="error-text">
                        Please Select Currency
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-2 md:col-2 xl:col-2">
                <label for="username">Exchange Rate</label>
                <input pInputText id="username" maxlength="50" class="w-full"  [(ngModel)]="exchangeRate"
                    (change)="onCommonDetailsChange()" />
            </div>
            <div class="col-3 lg:col-3 md:col-3 xl:col-3">
                <label for="username">PromoCode&nbsp;(Optional)</label>
                <input pInputText id="username" maxlength="50" class="w-full" [(ngModel)]="promocode" 
                     (change)="onCommonDetailsChange()" placeholder="Enter PromoCode" />
             </div>
        </div>
    </div>
</div>
<div class="grid mt-2 ml-2 mr-2">
    <div class="card col-12 md:col-12 lg:col-12 xl:col-12 gap-2">
            <div class="flex flex-wrap justify-content-between pl-3 pr-2 pb-0">
                <div>
                    <h4 class="m-0 p-0">Vehicle Details</h4>
                </div>
            </div>
            <div class="flex flex-wrap justify-content-center pl-3 pr-2 pb-0" *ngIf="disabledSection">
                <div>
                        <b>Please Wait,Checking Registration No...</b>
                </div>
            </div>
            <ng-container *ngIf="productItem">
                <div class="grid mt-1">
                    <div class="lg:col-2 md:col-2 col-2"></div>
                    <div class="lg:col-8 md:col-8 col-8">
                        <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                            <formly-form [form]="form" [fields]="fields" [model]="productItem"></formly-form>
                        </form>
                    </div>
                </div>
            </ng-container>
        <div class="flex flex-warp justify-content-center">
            <button pButton pRipple label="Proceed" (click)="saveCustomerDetails(productItem,null)"></button>
        </div>
    </div>
</div>
