.layout-config-button {
    display: block;
    position: fixed;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    background: var(--primary-color);
    color: var(--primary-color-text);
    text-align: center;
    //top: 50%;
    bottom: 10%;
    right: 5%;
    margin-top: -1.5rem;
    /*border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;*/
    border-radius: 50%;
    transition: background-color var(--transition-duration);
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
    box-shadow: -.25rem 0 1rem rgba(0,0,0,.15);

    i {
        font-size: 2rem;
        line-height: inherit;
        transform: rotate(0deg);
        transition: transform 1s;
    }
    
    &:hover {
        background: var(--primary-400);
    }
}

.layout-config-sidebar {
    &.p-sidebar {
        .p-sidebar-content {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}
.imag-card{
    width:300px !important;
    border: 1px solid black;
    border-radius: 15px;
 }
.center{
    margin: 0;
    text-align: center !important;
    vertical-align: center !important;
    
}